<%- include('header') %>

<div class="content-container">
    <div class="content-title">
        <h2 class="subTitle">Curriculum Vitae</h2>
    </div>
    <div class="content-body">
        <%items.forEach(function(item) {%>
            <div class="cv-items">
                <div class="cvTitle"><%=item.title%></div>
                <div class="cvYear"><%=item.yearstart%>-<%=item.yearend%></div>
                <div class="cvBody"><%=item.body%></div>
            </div>
        <% }) %>
    </div> 
</div>

<%- include('footer') %>