<%- include('header') %>

<div class="content-container">
    <div class="content-title">
        <h2>Curriculum Vitae</h2>
    </div>
    <div class="content-body">
        <%items.forEach(function(item) {%>
            <div class="cv-items">
                <p><%=item.title%></p>
                <p><%=item.body%></p>
                <p><%=item.year%></p>
            </div>
        <% }) %>
    </div> 
</div>

<%- include('footer') %>