<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="application-name" content="CodeByMini">

    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">

    <meta name="apple-mobile-web-app-title" content="CodeByMini">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  
    <link rel="stylesheet" href="css/pdf.css">
    <title>CodeByMini</title>
</head>
<a href="javascript:if(window.print)window.print()"><img src="/images/print.png" class="print" /></a>
<a href="/"><img src="images/logo.png" class="logo"></a>
<div class="afour">
    <div class="pdf-image-container">
        <img src="/images/profile-picture.jpeg" class="pdf-image">
    </div>
    <div class="title-container">
        <h1>Daniel Mini Johansson</h1>
        <h3>Developer</h3>
        <h3><a href="mailto:daniel@codebymini.se">daniel@codebymini.se</a></h3>
        <h3><a href="tel:+46705452930">+46705452930</a></h3>
        <h3><a href="http://www.codebymini.se">codebymini.se</a></h3>
        <h3><a href="https://www.linkedin.com/in/daniel-johansson-4b099219a/">LinkedIn</a></h3>
    </div>
    <div class="pdf-body">
        <%personals.forEach(function(personal) {%>
            <%-personal.body%>
        <% }) %>
    </div> 
</div>
<div class="afour">
<h2>Tidigare erfarenheter</h2>
<div class="pdf-body">
    <%items.forEach(function(item) {%>
        <%if(item.title=="Ljusdesigner"){%>
            </div></div>
            <div class="afour">
                <div class="pdf-body">
        <% } %>
        <div class="cv-items">
            <div class="cvTitle"><%=item.title%></div>
            <div class="cvYear"><%=item.yearstart%>-<%=item.yearend%></div>
            <div class="cvBody"><%-item.body%></div>
        </div>
    <% }) %>
</div> 
</div>
</div>

<%- include('footer') %>